.voteemMim{
    margin:  30px 60px 50px;
    font-size: 50px;
    
}
.Biografia{
    margin: 30px 30px;
    border: solid brown;
    color: rgb(221, 221, 221);
    font-size: 30px;
    text-align:justify;
    
}
.sixseven{
    font-size: 120px;
    color: rgb(202, 37, 37);
}
.dorigoTech{
    background-color: rgba(128, 128, 128, 0.541);
    margin: 1px 600px 1px 10px;
    border: solid orange 1px;
    text-align: center;
    border-radius: 100px
    ;
}
.propostas{
    color:darkred;
    font-size: 35px;
    text-align: center;
}
.proposta1{
    font-size:30px ;
    color: rgb(255, 255, 255);
    margin: 20px 30px 20px 60px;
}