body{
    background-color: azure;
}
.barra-cima{
    border-bottom: 7px solid lightpink;
    width: 2000px;
    display: flex;
    position: fixed;
    top: -10px;
    left: -10px;
    z-index: 2;
    
    background-color: beige;
}
.partido{
    color: aliceblue;
    
    width: 100px;
    height: 100px;
    border-radius: 10000px;
    text-align: center;
    background-color: rgb(190, 69, 69)

    
}
.sixsevi{
    position: relative;
    top: -30px;
    -webkit-text-stroke: 1px rgb(29, 157, 167);
}
.voteemMim{
    position: relative;
    left: 50px;
    top: 100px;
    font-size: 50px;
    background-color: beige;
    
    
}
.Biografia{
    margin: 150px 30px 100px 30px;
    border: solid rgb(221, 184, 184);
    color: rgb(248, 248, 248);
    font-size: 30px;
    text-align:justify;
    
}
.sixseven{
    font-size: 120px;
    color: rgb(202, 37, 37);
}
.dorigoTech{
    background-color: rgba(128, 128, 128, 0.541);
    margin: 1px 600px 1px 10px;
    border: solid orange 1px;
    text-align: center;
    border-radius: 100px
    ;
}
.propostas{
    border-radius: 20px;
    color:darkred;
    font-size: 35px;
    text-align: center;
    background-image:
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi_JF_oV6f0mfV_9Kc38piEBhuza809q-HHg&s)
}
.proposta1{
    font-size:30px ;
    color: rgb(255, 255, 255);
    margin: 20px 30px 20px 60px;
}
.proposta-canto{
    border: solid gray;
    position: relative;
    left: 200px;
    
    width: 430px;
    padding: 30px;
}
.corrupcaoZero{

}
